
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-12">
        <a class="btn btn-outline-primary" href="@Url.Action("SimpleReport","Report")" target="_blank">Simple Report</a>
        <a class="btn btn-outline-info" href="@Url.Action("GroupReport", "Report" )" target="_blank">Group Report</a>
    </div>
</div>


